


@font-face {
    font-family: $ff-SFProDisplayRegular;
    src: url(../assets/fonts/SFProDisplay/SFProDisplay-Regular.OTF);
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: $ff-SFProDisplayMedium;
    src: url(../assets/fonts/SFProDisplay/SFProDisplay-Medium.OTF);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: $ff-SFProDisplayBold;
    src: url(../assets/fonts/SFProDisplay/SFProDisplay-Bold.OTF);
    font-weight: 700;
    font-style: normal;
}







