
$color-white: #FFFFFF;
$color-black: #100E0E;
$light-grey: #F9F9F9;
$prime: #0071E4;
$active-sale:#FDEFBF;
$color-grey: #B7B7B7;
$color-green: #52D116;
$intro-bg:#D0EAFC;
$light-prime:#2A93FD;
$dark-grey:#706E6E;
$btn-green:#6FD91C;
$color-text:#585656;
$border-input: #DBDBDB;
$bg-btn:#E7E7E7;
$footer-text:#878787;


$gradient-discount: linear-gradient(180.04deg, #FE94A6 0.04%, #F2F2F2 65.84%);
$gradient-delivery: linear-gradient(180.04deg, #E685FF 0.04%, #F2F2F2 65.84%);
$gradient-wallet: linear-gradient(180.04deg, #7DE9FF 0.04%, #F2F2F2 65.84%);
$gradient-building: linear-gradient(180.04deg, #FFE685 0.04%, #F7F7F7 65.84%);
$gradient-approval: linear-gradient(180.04deg, #ADFFC1 0.04%, #F2F2F2 65.84%);
$gradient-form: linear-gradient(90.34deg, #F7355D 0.3%, #9747FF 101.33%);

$ff-SFProDisplayRegular: 'SFProDisplay-Regular';
$ff-SFProDisplayMedium: 'SFProDisplay-Medium';
$ff-SFProDisplayBold: 'SFProDisplay-Bold';